/*******************/
/* GENERAL STYLING */
/*******************/
a {
    cursor:pointer;
}

.navbar {
    border-radius: 0;
}


/****************/
/* SMALL TWEAKS */
/****************/
.home-progressbar {
    color:white;
    white-space:nowrap;
}

.build-jumbotron, .campaings-jumbotron, .results-jumbotron {
    width: 200px;
    padding-right: auto !important;
    padding-left: 10px !important;
}

.testcase-jumbotron {
    width: 300px;
    padding-right: auto !important;
    padding-left: 10px !important;
}

.ui-scrollpoint {
    position:fixed;
    top:20px;
}

/*********/
/* SLIDE */
/*********/
.slide.ng-leave {
    position: relative;
}
.slide.ng-enter {
    position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
    -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
    -webkit-transform: scaleX(0.0001);
    -o-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
    opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
    -webkit-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

/******************/
/* TABLE STYLINGS */
/******************/
.accounts th, .addons th, .testcase-details th  {
    width: 100px;
}

.mainView {
    margin-left: 20px;
    margin-right: 20px;
}

/********/
/* TABS */
/********/
#tabset {
    height: 480px;
}

/***************/
/* PIVOT TABLE */
/***************/
#pivottable {
    margin-top: 20px;
}


.my-custom-menu {
    position: absolute;
}

.my-custom-menu .ui-grid-menu {
    padding: 0px;
}

.my-custom-menu .ui-grid-menu-inner {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/****************/
/* badge button */
/****************/
.btn-custom { }
.btn-custom button { background-image:none; box-shadow:none; border:none; border-radius:9px !important; font-size:11.844px !important; font-weight:bold; padding:0px 9px; }

/****************/
/* Spinner      */
/****************/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #0dc5c1;
  font-size: 11px;
  text-indent: -99999em;
  margin-top: 100px;
  margin-left: 40%;
  position: absolute;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
