<div class="jumbotron text-center">
	<h1>Accounts</h1>

  Totally {{accounts.length}} accounts.
	<input type="search" ng-model="Account" placeholder="filter accounts..." />
  <table class="accounts">
    <tr>
      <th>Name</th>
      <th>Registered</th>
      <th>Last Visited</th>
      <th>Groups</th>
    </tr>
    <tr class="animate-repeat" ng-repeat="account in accounts | filter:Account">
      <td>{{account.name}}</td>
      <td>{{account.registered}}</td>
      <td>{{account.lastVisited}}</td>
      <td>{{account.groups}}</td>
    </tr>
    <tr class="animate-repeat" ng-if="(accounts|filter:Account).length == 0">
      <td colspan="5">NO results found..</td>
    </tr>
  </table>

</div>
