<div class="jumbotron text-center">
	<h1>Accounts</h1>
	
  Totally {{accounts.length}} accounts.
	<input type="search" ng-model="Account" placeholder="filter accounts..." />
  <table>
    <tr>
      <th style="width: 100px">Name</th>
      <th style="width: 100px">Registered</th>
      <th style="width: 100px">Last Visited</th>
      <th style="width: 100px">Groups</th>
    </tr>
    <tr class="animate-repeat" ng-repeat="account in accounts | filter:Account">    
      <td>{{account.name}}</td>
      <td>{{account.registered}}</td>
      <td>{{account.lastVisited}}</td>
      <td>{{account.groups}}</td>
    </tr>
    <tr class="animate-repeat" ng-if="(accounts|filter:Account).length == 0">    
      <td colspan="5">NO results found..</td>
    </tr>
  </table>
  
</div>